<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'eduform.css' %}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Responsive Regisration Form </title>-->
</head>

<body>
    <div class="container">
        <header>Educational details</header>

        <form method = "post" action = '/addeducationdetails/'>
            {% csrf_token %}

            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="input-field">

                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label>School/Collage Name</label>
                            <input type="text" placeholder="Enter school/collage Name" required  id="schoolname" name="schoolname">
                        </div>

                        <div class="input-field">
                                <label>previous acedemic percentage</label>
                                <input type="number" placeholder="Enter persentage" required id="previousacademic" name="previousacademic">
                            </div>
                        <div class="input-field">
                            <label>Profession</label>
                            <select required id="profession" name="profession">
                                <option disabled selected>Select Profession</option>
                                <option>Student</option>
                                <option>Job</option>
                                <option>Others</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Standard</label>
                            <select required id="standard" name="standard">
                                <option disabled selected>Select Standard</option>
                                <option>Till 9th</option>
                                <option>10th</option>
                                <option>11th</option>
                                <option>11th</option>
                                <option>12th</option>
                                <option>Collage 1st year</option>
                                <option>Collage 2st year</option>
                                <option>Collage 3st year</option>
                                <option>Collage 4st year</option>
                                <option>Diploma</option>
                                <option>Other</option>
                            </select>
                        </div>


                        <div class="input-field">
                            <label>Board/University Name </label>
                            <select required id="board_university" name="board_university">
                                <option disabled selected>Select Board/university</option>
                                <option>CBSE</option>
                                <option>ICSE</option>
                                <option>State Board</option>
                                <option>Other</option>
                            </select>
                        </div>


                    </div>
                </div>

                <button>
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
    </div>
</body>

</html>