<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home | Wisdom Tribes</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="static/image/icon.png" rel="icon">
<!-- Design -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Super Menu -->
<link href="static/assets/css/bootstrap.minu.css" rel="stylesheet">
<link href="static/assets/css/dura-main.css" rel="stylesheet">
<link href="static/assets/css/dura-responsive.css" rel="stylesheet">
<!-- Image Effect -->
<link rel="stylesheet" href="static/css/sass-compiled.css" />
<script src="static/js/modernizr.js" type="text/javascript"></script>
<!-- Gallery -->
<link rel="stylesheet" href="static/css/smartphoto.min.css">
<script src="static/js/smartphoto.js?v=1"></script>
<script>
  document.addEventListener('DOMContentLoaded',function(){
	new smartPhoto(".js-img-viwer");
});
</script>
<!-- Banner -->
<link href="static/banner/bootstrap.min.css" rel="stylesheet" />
<script src="static/banner/jquery.min.js"></script>
<script src="static/banner/bootstrap.min.js"></script>
<!-- Product Scroll -->
<link rel="stylesheet" type="text/css" href="static/css/initcarousel-1.css">
<script src="static/js/amazingcarousel.js"></script>
<script src="static/js/initcarousel-1.js"></script>
<!-- Testimonials -->
<link rel="stylesheet" href="static/css/sppagebuilder.css" type="text/css" />
<link rel="stylesheet" href="static/css/template.css" type="text/css" />
<script src="static/js/sppagebuilder.js" type="text/javascript"></script>
<!-- Sider Enquiry -->
<link rel="stylesheet" href="static/css/feedback.css" />
<script src="static/js/jquery-1.9.1.min.js"></script> 
<script src="static/js/feedback.js"></script>
<!-- Back to Top -->
<script type="text/javascript">
  $(document).ready(function(){ 

    $(window).scroll(function(){
      if ($(this).scrollTop() > 100) {
        $('.scrollup').fadeIn();
      } else {
        $('.scrollup').fadeOut();
      }
    }); 

    $('.scrollup').click(function(){
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });

  });
</script>
</head>

<body>
<!-- Header -->
<div id="sticky-anchor"></div>
<div id="sticky">
<div id="wrapper">
  <div id="header">
    <div class="logo"> <a href="index.html"><img src="static/image/logo.png" alt="" /></a> </div>    
 
      <div class="container nav-container">
          <div class="row header-bottom-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
     
              <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="index.html">Home</a></li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tuition<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">online</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li><a href="#">Sharda University</a></li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li><a href="#">Sharda University</a></li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>                                 
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Poular Courses</h3>
                                    <ul>
                                      <li><a href="#">MBA</a></li>
                                      <li><a href="#">PGDM</a></li>
                                      <li><a href="#">Distance MBA</a></li>
                                      <li><a href="#">Online MBA</a></li>
                                      <li><a href="#">Part Time MBA</a></li>
                                    </ul>
                                    <h3>Top Colleges</h3>
                                    <ul>
                                      <li><a href="#">MIT</a></li>
                                      <li><a href="#">Sharda University</a></li>
                                      <li><a href="#">IIHM</a></li>
                                      <li><a href="#">IIM Bangalore</a></li>
                                      <li><a href="#">VIT Vellore</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>                            
                
                            <li><a href="#">Offline</a>
                              <div class="tabbed-menu-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>School</h3>
                                    <ul>
                                      <li><a href="#">Class 12 Tuition</a></li>
                                      <li><a href="#">Class 11 Tuition</a></li>
                                      <li><a href="#">Class 10 Tuition</a></li>
                                      <li><a href="#">Class 9 Tuition</a></li>
                                      <li><a href="#">Class 8 Tuition</a></li>
                                      <li><a href="#">Class 7 Tuition</a></li>
                                      <li><a href="#">Class 6 Tuition</a></li>
                                      <li><a href="#">Class 1 to 5 Tuition</a></li>
                                      <li><a href="#">Nursery-KG Tuition</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>College</h3>
                                    <ul>
                                      <li><a href="#">BTech Tuition</a></li>
                                      <li><a href="#">BCom Tuition</a></li>
                                      <li><a href="#">Engineering Diploma Tuition</a></li>
                                      <li><a href="#">BBA Tuition</a></li>
                                      <li><a href="#">BSc Tuition</a></li>
                                    </ul>                                
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Subject</h3>
                                    <ul>
                                      <li><a href="#">Mathematics</a></li>
                                      <li><a href="#">English</a></li>
                                      <li><a href="#">Science</a></li>
                                      <li><a href="#">Physics</a></li>
                                      <li><a href="#">Hindi</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Tuitions</a></li>
                                      <li><a href="#">Online Tuitions</a></li>
                                      <li><a href="#">NCERT Solutions</a></li>
                                      <li><a href="#">CBSE Syllabus</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">Languages</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Foreign Languages</h3>
                                    <ul>
                                      <li><a href="#">Spoken English</a></li>
                                      <li><a href="#">German Language</a></li>
                                      <li><a href="#">French Language</a></li>
                                      <li><a href="#">Spanish Language</a></li>
                                      <li><a href="#">Japanese Language</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Indian Languages</h3>
                                    <ul>
                                      <li><a href="#">Hindi Language</a></li>
                                      <li><a href="#">Kannada Language</a></li>
                                      <li><a href="#">Tamil Language</a></li>
                                      <li><a href="#">Telugu Language</a></li>
                                      <li><a href="#">Marathi Speaking</a></li>
                                    </ul>                                
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Languages</h3>
                                    <ul>
                                      <li><a href="#">Chinese Language</a></li>
                                      <li><a href="#">Arabic Language</a></li>
                                      <li><a href="#">Russian Language</a></li>
                                      <li><a href="#">Italian Language</a></li>
                                      <li><a href="#">Sanskrit Language</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Languages</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>                            
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hobby Classes<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">Hobby Classes</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Dance & Music</h3>
                                    <ul>
                                      <li><a href="#">Dance</a></li>
                                      <li><a href="#">Hindustani Music</a></li>
                                      <li><a href="#">Guitar</a></li>
                                      <li><a href="#">Carnatic Music</a></li>
                                      <li><a href="#">Keyboard</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Hobbies</h3>
                                    <ul>
                                      <li><a href="#">Yoga</a></li>
                                      <li><a href="#">Cooking</a></li>
                                      <li><a href="#">Photography</a></li>
                                      <li><a href="#">Drawing</a></li>
                                      <li><a href="#">Painting</a></li>
                                    </ul>                                 
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Hobbies</h3>
                                    <ul>
                                      <li><a href="#">Singing</a></li>
                                      <li><a href="#">Violin</a></li>
                                      <li><a href="#">Piano</a></li>
                                      <li><a href="#">Makeup</a></li>
                                      <li><a href="#">Handwriting</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Hobby Classes</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>                          
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IT Courses<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">IT Courses</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Programming Languages</h3>
                                    <ul>
                                      <li><a href="#">Python Training</a></li>
                                      <li><a href="#">Java Training</a></li>
                                      <li><a href="#">.Net Training</a></li>
                                      <li><a href="#">C++ Language</a></li>
                                      <li><a href="#">C Language</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>IT Training</h3>
                                    <ul>
                                      <li><a href="#">Microsoft Excel Training</a></li>
                                      <li><a href="#">SAP</a></li>
                                      <li><a href="#">Selenium</a></li>
                                      <li><a href="#">Angular.JS</a></li>
                                      <li><a href="#">Amazon Web Services</a></li>
                                    </ul>                                
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other IT Courses</h3>
                                    <ul>
                                      <li><a href="#">PHP</a></li>
                                      <li><a href="#">Java Script Training</a></li>
                                      <li><a href="#">Adobe Photoshop Training</a></li>
                                      <li><a href="#">DevOps Training</a></li>
                                      <li><a href="#">Data Science</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All IT Courses</a></li>
                                      <li><a href="#">Software Training Institutes</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>                            
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exam Coaching<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">Exam Coaching</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Study Abroad</h3>
                                    <ul>
                                      <li><a href="#">IELTS Coaching</a></li>
                                      <li><a href="#">PTE Academic Exam Coaching</a></li>
                                      <li><a href="#">GRE Coaching</a></li>
                                      <li><a href="#">GMAT Coaching</a></li>
                                      <li><a href="#">TOEFL Coaching</a></li>
                                    </ul>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Study in India</h3>
                                    <ul>
                                      <li><a href="#">Engineering Entrance Coaching</a></li>
                                      <li><a href="#">CA Coaching</a></li>
                                      <li><a href="#">MBA Entrance Coaching</a></li>
                                      <li><a href="#">Medical Entrance Coaching</a></li>
                                      <li><a href="#">CET Coaching</a></li>
                                    </ul>                                
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <h3>Other Exams</h3>
                                    <ul>
                                      <li><a href="#">IBPS Exam Coaching</a></li>
                                      <li><a href="#">UPSC Exams Coaching</a></li>
                                      <li><a href="#">Staff Selection Commission Exam</a></li>
                                      <li><a href="#">Bank Clerical Exam Coaching</a></li>
                                      <li><a href="#">UGC NET Exam Coaching</a></li>
                                    </ul>
                                    <h3>More</h3>
                                    <ul>
                                      <li><a href="#">All Exam Coaching Classes</a></li>
                                    </ul>                                 
                                  </div>
                                </div>
                              </div>
                            </li>                            
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li class="dropdown tabbed-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spiritual<span class="caret"></span></a>
                        <div class="dropdown-menu tabbed-menu tabbed-mega-menu tabbed-height-375">
                          <ul>
                            <li><a href="#" class="active-tab">Spiritual</a>
                              <div class="tabbed-menu-content active-tab-content container">
                                <div class="row">
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                    
                                    <h3>Nature Book</h3>
                                    <ul>
                                      <li><a href="#">Geeta</a></li>
                                      <li><a href="#">Quran</a></li>
                                      <li><a href="#">Mahabaharat</a></li>
                                      <li><a href="#">Baible</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </li>                            
                          </ul>
                        </div>
                        <!-- /TABBED MENU -->                     
                      </li>
                      <li><a href="contact">Contact Us</a></li>
					  <li>
                      {% if username != '' and entity_type == 'student' %}
                      <p style="color:#000000"><a href="/student-home" >{{username}}</a><a href="/" class="get-started-btn" style="margin-left:10px;">logout</a></p>
                      {% elif username != '' and entity_type == 'teacher' %}
                      <p style="color:#000000"><a href="/teacher-home" >{{username}}</a><a href="/" class="get-started-btn" style="margin-left:10px;">logout</a></p>
                      {% else %}
                      <a href="login" class="get-started-btn">login/signup</a>
                      {% endif %}
					</li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>          
        </div>
  </div>
  <div class="breaker"></div>
</div>
</div>
<!-- Banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img src="static/image/banner/1.jpg" style="width:100%" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>"Wisdom Tribes"</h1>
          <p>Get The Best Tutor Online Or Offline</p>
          <p>Live Online Tuition With Personal Tutors In CBSE, ICSE, Languages, Hobbies & More .</p>
        </div>
      </div>
    </div>
    <div class="item"> <img src="static/image/banner/2.jpg" style="width:100%" data-src="" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>"Wisdom Tribes"</h1>
          <p>Get The Best Tutor Online Or Offline</p>
          <p>Live Online Tuition With Personal Tutors In CBSE, ICSE, Languages, Hobbies & More .</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Bar -->
<div class="searchs">
<div style="display: inline-block;">  
<form style="display:flex;" class="example" action="/find_teachers" method="POST" style="margin:auto;max-width:300px">
	{% csrf_token %}
  <input style="width: 168px;margin-right: 4px;" type="text" placeholder="We Do You Want To Learn" name="subject">
  <select style="width: 168px;margin-right: 4px;" name="learningMode" id="learningMode">
    <option value="offline">Offline</option>
    <option value="Online">Online</option>
  </select>
  <input  style="width: 168px;margin-right: 4px;"type="text" id="zipCode" name="zipCode" placeholder="Current ZipCODE"/>
  <button  type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
</div>
<div class="break"></div>
<!-- Quick Point -->
<div class="quick-feat">
	<div style="margin-left:40%;">
		{% if teachers_list %}
		<div>
			{% for teacher in teachers_list %}
			<form action="connected" method="POST">
				<h3>Name: {{teacher.firstname}} {{teacher.lastname}}</h3>
				<h3>Email: {{teacher.email}}</h3>
				<h3>Contact No: {{teacher.contactno}}</h3>
				<input type="hidden" name="teachersEmail" value="{{teacher.email}}" />
				{% csrf_token %}
				<button type="submit" class="get-started-btn">Connect</button>
			</form>
			{% endfor %}
		</div>
		{% endif %}
	</div>
  <div class="quick-list">
    <div class="feat-1">
      <h3><img src="static/image/alumni.png" alt="" class="quick-icon"><span>55 Lakh+</span><br> Students</h3>
    </div>
    <div class="feat-1">
      <h3><img src="static/image/experience.png" alt="" class="quick-icon"><span>7.5 Lakh+</span><br> Verified Tutors</h3>
    </div>
    <div class="feat-1">
      <h3><img src="static/image/faculty.png" alt="" class="quick-icon"><span>4 Lakh+</span><br> Reviews</h3>
    </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Works -->
<div id="work">
<div class="works">
<h2>How Wisdom Tribes Works</h2>
<div class="breake"></div>
<div class="work-cont">
<h3><img src="static/image/work/1.png" class="work-icon" alt="">Create Free Profile</h3>
<p>Upload Photos, Portfolio, Certificates, Add Description, Qualifications, Achievements to Help students Discover You.</p>
</div>
<div class="break"></div>
<div class="work-cont">
<h3><img src="static/image/work/2.png" class="work-icon" alt="">Teach Students Online</h3>
<p>Use world class tools for FREE to teach Students across India and globally. Get Training support and Marketing support to get steady stream of Students to teach.</p>
</div>
<div class="break"></div>
<div class="work-cont">
<h3><img src="static/image/work/3.png" class="work-icon" alt="">Earn a steady income</h3>
<p>Earn handsomely based on the number of Students you teach. Top Tutor Partners earn ₹ 40,000 to ₹ 1,50,000 per month.</p>
</div>
</div>
<div class="breaker"></div>
</div>
<!-- Courses -->
<div class="courses">
  <div class="all-course">
    <h2>Our Courses</h2>
    <h4>From building conceptual understanding to preparing for examinations, our course encompasses every single thing that a student would require.</h4>
    <div class="corus">
      <div class="course-image"><img src="static/image/course/1.png" alt="" class="course-detail-icon"></div>
      <div class="course-detail">
        <h3>Online Tuition</h3>
        <p>Common Law Admission Test (CLAT) is a centralised test for admission to 19 prominent National Law Universities in India</p>
        <a href="courses.html" class="course-btn">Learn More</a>
      </div>
    </div>
    <div class="corus">
      <div class="course-image"><img src="static/image/course/2.png" alt="" class="course-detail-icon"></div>
      <div class="course-detail">
        <h3>Offline Tuition</h3>
        <p>Common Law Admission Test (CLAT) is a centralised test for admission to 19 prominent National Law Universities in India</p>
        <a href="courses.html" class="course-btn">Learn More</a>
      </div>
    </div>
    <div class="corus">
      <div class="course-image"><img src="static/image/course/3.png" alt="" class="course-detail-icon"></div>
      <div class="course-detail">
        <h3>Spiritual Courses</h3>
        <p>Common Law Admission Test (CLAT) is a centralised test for admission to 19 prominent National Law Universities in India</p>
        <a href="courses.html" class="course-btn">Learn More</a>
      </div>
    </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Apply Now -->
<div class="pattern2">
  <div class="pattern-add2">
    <div class="h3">
     TAKE THE FIRST STEP TO KNOWLEDGE WITH US<br>
     <br><span>Law Academy is the best Best CLAT Coaching institute In Patna. Aspiring to be in Top Nlu’s | Join our CLAT DU LLB course‎ Prepare for CLAT AILET SET DU LLB Online Mock Test. Topic wise test. Courses: Foundation, Regular, Target, Crash</span>
     </div>
      <a href="#" class="s-enquiry2">Search Now</a>
    <div class="break"></div>
  </div>   
</div>
<!-- About Us -->
<div id="page">
  <h2 style="color: #000;">ABOUT US</h2>
  <div class="bord"></div>
  <div class="vide">
   <div class="video-container">
    <!--<iframe src="http://www.youtube.com/embed/c6r5hkLEozg" frameborder="0" width="100%" height="280" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals allow-forms"></iframe>-->
    <img src="static/image/online-class.jpg" alt="">
   </div>
  </div>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
  <a href="#" class="more_btn">Read More</a>
  <div class="breaker"></div>
</div>
<!-- Message -->
<div class="mission-message">
  <div class="page-log">
    <div class="best-1 bgr1">
      <h3>Director's Desk</h3>
      <p><img src="static/image/director-desk.png" alt="" class="dir-icon">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
      <a href="#" class="mor">More</a> </div>
    <div class="best-1 bgr2">
      <h3>Mission & Vision</h3>
      <p><img src="static/image/mission-icon.png" alt="" class="dir-icon">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      <a href="#" class="mor">More</a> </div>
    <div class="why-us">
      <h2>Why Choose Us</h2>
      <p><img src="static/image/dot.png" alt="" class="dot">Technology Integrated Classrooms.</p>
      <p><img src="static/image/dot.png" alt="" class="dot">Expert Teaching Faculty</p>
      <p><img src="static/image/dot.png" alt="" class="dot">Unique Library System</p>
    </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Why Us -->
<div class="dig-point">  
  <div class="why-option">
    <div class="why-choose">
      <h3><img src="static/image/world.png" alt="" class="arrow-icon">All you need to change the world is your imagination</h3>
      <p>That’s right. At JD we believe, a student’s most useful asset is not their materials or their contacts; it’s their imagination, their unique way of looking at the world. And that’s what we nurture actively – each student’s unique imagination, vision and sensibility.</p>
      <h3><img src="static/image/award.png" alt="" class="arrow-icon">We can translate your imagination into reality</h3>
      <p>At JD we don’t just encourage your imagination to fly. We train it, harness it and groom it into a sound, well-thought out, balanced aesthetic which can address client needs and turn them into remarkable solutions.</p>
      <h3><img src="static/image/key.png" alt="" class="arrow-icon">And we can make you a success in the industry</h3>
      <p>The final step is equipping you with everything you need – knowledge, skills, confidence, and techniques – to constantly shape your imagination to the needs and trends of the industry, while still retaining that special touch that’s only ‘you’.</p>
    </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Topper -->
<div class="page-banner">
 <div class="topper-banner">
  <div class="header-topper">
    <h2><span class="title">Our Results for Wisdom Tribes</span></h2>
    <div class="product_slider2">
         <div class="amazingcarousel-list-container">
          <ul class="amazingcarousel-list">
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/1.jpg" class="img-responsive" alt=""></span>
            <h4>Pratik Kumar</h4>
            <p><span class="ranks">DSNLU</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/2.jpg" class="img-responsive" alt=""></span>
            <h4>Abhilash Raghav</h4>
            <p><span class="ranks">DSNLU</span></p>
          </div>
        </li>        
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/3.jpg" class="img-responsive" alt=""></span>
            <h4>Harshit Kumar</h4>
            <p><span class="ranks">NLU Bhopal</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/4.jpg" class="img-responsive" alt=""></span>
            <h4>Shubesh</h4>
            <p><span class="ranks">DSNLU</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/5.jpg" class="img-responsive" alt=""></span>
            <h4>Roshni Rashmi</h4>
            <p><span class="ranks">NUSRL</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/6.jpg" class="img-responsive" alt=""></span>
            <h4>Akhil Goyal</h4>
            <p><span class="ranks">CLNU</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/7.jpg" class="img-responsive" alt=""></span>
            <h4>Manish Goyal</h4>
            <p><span class="ranks">CLNU</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/8.jpg" class="img-responsive" alt=""></span>
            <h4>Sarthak Chaturvedi</h4>
            <p><span class="ranks">CLNU</span></p>
          </div>
        </li>
        <li class="amazingcarousel-item">
          <div class="models"> <span><img src="static/image/result/3.jpg" class="img-responsive" alt=""></span>
            <h4>Md. Mehtab</h4>
            <p><span class="ranks">CLNU</span></p>
          </div>
        </li>
      </ul>
         <div class="amazingcarousel-prev"></div>
        <div class="amazingcarousel-next"></div>
       <div class="breaker"></div>
      </div>
     </div>
    <p><img src="static/image/new-batch.png" alt="" class="new-batch"></p>
  </div>
  <div class="news">
    <h2>News & Events</h2>
    <marquee behavior="scroll" direction="up" height="220" scrollamount="2" scrolldelay="40" onmouseover="this.stop();" onmouseout="this.start();" style="margin-top: 10px">
      <p><span class="highl2">05-Nov-2017</span><br>
      <a href="#">Must read of Paper INXET->Career PAth of Page -8</a></p>
      <p><span class="highl2">05-Nov-2017</span><br>
      <a href="#">Must read of Paper INXET->Career PAth of Page -8</a></p>
      <p><span class="highl2">05-Nov-2017</span><br>
      <a href="#">Must read of Paper INXET->Career PAth of Page -8</a></p>
      <p><span class="highl2">05-Nov-2017</span><br>
      <a href="#">Must read of Paper INXET->Career PAth of Page -8</a></p>
      </marquee>
   </div>
 </div>
 <div class="breaker"></div>    
</div>
<!-- Booking -->
<div class="pattern">
  <h3>Doing the right thing, at the right time</h3>
  <a href="#" class="s-enquiry">Get Admission Today</a>
</div>
<!-- Our Team -->
<div class="makeup-services">
  <h1>Our Best Faculties</h1>
  <h4>The faculties teaching at our Law Academy in India are all nationally renowned experts. They come from India’s best institutions.</h4>
  <div class="theme-select">
    <div class="consume">
      <div class="picker"> <img src="static/image/faculty/1.jpg" class="pic-image" alt="Pic"/> <span class="pic-caption top-to-bottom">
      <h2>Gautam Puri</h2>
      <h3>Managing Director</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </span> </div>
      <span class="titler">Gautam Puri</span>
      <p>Managing Director</p>
     </div>
     <div class="consume">
      <div class="picker"> <img src="static/image/faculty/2.jpg" class="pic-image" alt="Pic"/> <span class="pic-caption top-to-bottom">
      <h2>Gautam Puri</h2>
      <h3>Managing Director</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </span> </div>
      <span class="titler">Gautam Puri</span>
      <p>Managing Director</p>
     </div>
     <div class="consume">
      <div class="picker"> <img src="static/image/faculty/3.jpg" class="pic-image" alt="Pic"/> <span class="pic-caption top-to-bottom">
      <h2>Gautam Puri</h2>
      <h3>Managing Director</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </span> </div>
      <span class="titler">Gautam Puri</span>
      <p>Managing Director</p>
     </div>
     <div class="consume">
      <div class="picker"> <img src="static/image/faculty/4.jpg" class="pic-image" alt="Pic"/> <span class="pic-caption top-to-bottom">
      <h2>Gautam Puri</h2>
      <h3>Managing Director</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </span> </div>
      <span class="titler">Gautam Puri</span>
      <p>Managing Director</p>
     </div>
  </div>
  <div class="breaker"></div>
</div>
<!-- Student Package -->
<div id="pack">
<h2>Student Packages</h2>
<div class="package">
<div class="columns">
  <ul class="price">
    <li class="header">BASIC</li>
    <li class="grey">₹99.00</li>
    <li>1 month Validity</li>
    <li>10 Teachers of particular subject Can connect</li>
    <li>20 Teachers profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#FABF33">STANDARD</li>
    <li class="grey">₹280.00</li>
    <li>3 month Validity</li>
    <li>35 Teachers of 3 subjects Can connect</li>
    <li>50 Teachers profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">UNLIMITED</li>
    <li class="grey">₹550.00</li>
    <li>6 month Validity</li>
    <li>70 + Teachers Can connect</li>
    <li>Unlimited profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>
</div>
<div class="breaker"></div>
</div>
<!-- Teacher Package -->
<div id="pack">
<h2>Teacher Packages</h2>
<div class="package">
<div class="columns">
  <ul class="price">
    <li class="header">BASIC</li>
    <li class="grey">₹199.00</li>
    <li>1 month Validity</li>
    <li>10 Students Can connect</li>
    <li>30 Students profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#FABF33">STANDARD</li>
    <li class="grey">₹560.00</li>
    <li>3 month Validity</li>
    <li>35 Students Can connect</li>
    <li>50 Students profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">UNLIMITED</li>
    <li class="grey">₹1100.00</li>
    <li>6 month Validity</li>
    <li>70 + Students Can connect</li>
    <li>Unlimited profile per week</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>
</div>
<div class="breaker"></div>
</div>
<!-- Testimonials -->
<div class="clnts">
  <div class="apps-point-detail">
    <h2>Few Words from our happy Teachers</h2>
  </div>
  <section  class="sppb-section macro-testimonial-pro macro-less-padding">
        <div class="sppb-container">          
          <div class="sppb-row">
            <div class="sppb-carousel sppb-testimonial-pro sppb-slide .testi sppb-text-center" data-sppb-ride="sppb-carousel">
              
              <div class="sppb-carousel-inner">
                              
                <div class="sppb-item">
                  <div class="sppb-testimonial-message"><img src="static/image/testimonial/1.png" alt="" class="testi-icon">"Faculties in Law Academy are law expertise, who teach in a very good atmosphere."</div>
                  <div class="sppb-testimonial-client"><span class="testies">Rahul Kumar</span></div>
                </div>
                
                <div class="sppb-item">
                  <div class="sppb-testimonial-message"><img src="static/image/testimonial/2.png" alt="" class="testi-icon">"Be it in terms of the content in basic course material, the learning imparted in classes, or the comprehensiveness of the test series, Law Academy has been great."<br />
                    <div class="tag"> </div>
                  </div>
                  <div class="sppb-testimonial-client"><span class="testies">Harshit Raj</span></div>
                </div>
                
                <div class="sppb-item">
                  <div class="sppb-testimonial-message"><img src="static/image/testimonial/3.png" alt="" class="testi-icon">"Lorem Ipsum is simply dummy text of the printing and typesetting industry."<br />
                    <div class="tag"> </div>
                  </div>
                  <div class="sppb-testimonial-client"><span class="testies">Amol Welkar</span></div>
                </div>
                
              </div>
              <ol class="sppb-carousel-indicators">
                <li data-sppb-target=".sppb-testimonial-pro" class="sppb-tm-indicators active" data-sppb-slide-to="0"></li>
                <li data-sppb-target=".sppb-testimonial-pro" class="sppb-tm-indicators " data-sppb-slide-to="1"></li>
                <li data-sppb-target=".sppb-testimonial-pro" class="sppb-tm-indicators " data-sppb-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </section>
  <div class="breaker"></div>
</div>
<!-- Footer -->
<div id="footer-wrapper">
  <div class="foot-link">
    <a href="index.php" class="spacers">Home</a>
    <a href="about.html" class="spacers">About Us</a>
    <a href="terms.html" class="spacers">Terms & Condation</a>
    <a href="gallery.html" class="spacers">Gallery</a>   
    <a href="contact-us.html">Contact Us</a>
    <div class="breaker"></div>
  </div>
  <div class="footer-stat">
    <div class="foot">
      <h3>Join Us For Better Future</h3>
      <div class="break"></div>
      <a href="#" class="get-btn">Admission Enquiry</a>
      <div class="break"></div>
      <p> <a href="#"><img src="static/image/social/facebook.png" alt="" class="scl-icon2"></a> <a href="#"><img src="static/image/social/twitter.png" alt="" class="scl-icon2"></a> <a href="#"><img src="static/image/social/google.png" alt="" class="scl-icon2"></a> <a href="#"><img src="static/image/social/pinterest.png" alt="" class="scl-icon2"></a> </p>
    </div>
    <div class="foot2 bor"> <img src="static/image/email-icon.png" alt="" class="foot-email">
      <h2>Mail</h2>
      <p>contact@Wisdoomstribe.com</p>
    </div>
    <div class="foot2 bor bor3"> <img src="static/image/phone-icon.png" alt="" class="foot-email">
      <h2>Call</h2>
      <p>+91 9973501160 / 9693167469</p>
    </div>
    <div class="foot3 bor2"> <img src="static/image/address-icon.png" alt="" class="foot-email">
      <h2>Address</h2>
      <p>1481 Creekside Lane Avila Beach, CA 931</p>
    </div>
    <div class="breaker"></div>
  </div>
  <div class="breaker"></div>
</div>
<div class="feeter">
  <div id="footer">
    <p> Copyright (c) 2022 Wisdom Tribes. All rights reserved. <span class="dest">Website Designed and Managed by <a href="#">Pollyanna Cosnultancy Services</a></span></p>
    <div class="breaker"></div>
  </div>
</div>
<!-- Footer Code -->
<a href="#" title="Back to Top"><img src="static/image/backtotopicon.png" alt="" class="scrollup"></a>
<div id="feedback">
  <div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">
    <div class="lister2">
     <h3>Quick Enqquiry</h3>
     <p>(Submit your details below and you will be contacted by our Executive)</p>
     <form  method="post" name="msgform" id="msgform" onsubmit="return validate(this)" action="">        
       <input name="name" id="name" type="text" placeholder="Name" />
       <input name="name" id="name" type="text" placeholder="Email Id" />        
       <input name="name" id="name" type="text" placeholder="Mobile No." />
       <textarea name="pcomment" id="pcomment" placeholder="Enter your Comment" rows="2" cols=""></textarea>          
       <input name="send" type="submit" id="send" value="Submit" onclick="return validate();" />
     </form>
    </div>
  </div>
  <div id="feedback-tab">
    <span></span>
  </div>
</div>
</body>
</html>
