{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link
      rel="stylesheet"
      {% comment %} href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Apply for student unique ID</div>
        <div class="content">
            <form method = "post" action = "/apply/">
                {% csrf_token %}
                
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" placeholder="Enter your mail" required id="email" name = "email"> 
                    </div>
                    
                    
                    <div class="input-box">
                        <span class="details">Aadhaar card no.</span>
                        <input type="password" placeholder="Enter Aadhaar card no." required id="aadhaar" name = "aadhaar">
                    </div>


                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your name" required id="fullname" name = "fullname">
                    </div>

                    <div class="input-box">
                        <span class="details">password</span>
                        <input type="password" id="password" placeholder="Enter Password" name = "password">
                    </div>

                        <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="text" placeholder="Enter your number" required id="phoneno" name = "phoneno">
                        </div>

                    
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" placeholder="Enter your name" required id="address" name = "address">
                    </div>

                        {% comment %} <span class="details">confirm password</span>
                        <input type="password" id="cpassword" placeholder="Confirm your Password" name = "cpassword">
                        <p id="message"></p> {% endcomment %}
                    </div>
                <center>
                    <div class="button">
                        <input type="submit" value="Register" id="button" name = "button">
                    </div>
                </center>

            </form>
        </div>
    </div>
    {% comment %} <script src = "{% static 'index.js' %}" > </script> {% endcomment %}
    {% comment %} <script>
      const input = document.querySelector("input"),
            emailIcon = document.querySelector(".email-icon")

            input.addEventListener("keyup", () =>{
              let pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

              if(input.value === ""){
                emailIcon.classList.replace("uil-check-circle", "uil-envelope");
                return emailIcon.style.color = "#b4b4b4";
              }
              if(input.value.match(pattern)){
                emailIcon.classList.replace("uil-envelope", "uil-check-circle");
                return emailIcon.style.color = "#4bb543"
              }
              emailIcon.classList.replace("uil-check-circle", "uil-envelope");
              emailIcon.style.color = "#de0611"
            })

            function checkPassword() {
            var password = document.getElementById("password").value;
            var cPassword = document.getElementById("c-password").value;
            var message = document.getElementById("message");
            if (password == cPassword) {
                message.textContent = "Passwords Match";
                message.style.backgroundColor = "green";
            } else {
                message.textContent = "Passwords don't Match";
                message.style.backgroundColor = "red";
            }
        }
    </script> {% endcomment %}

</body>

</html>